.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.transcripts {
  display: flex;
  gap: 10px;
  align-items: center;
  /* min-height: 100px; */
}

.button__container {
  /* min-height: 100px; */
}

.separator {
  display: flex;
  min-height: 20px;
}
